streamlit>=1.43.0
matplotlib>= 3.3.4
pandas==2.2.3
plotly>=6.0.0
scikit-learn>=1.6.0
sklearn-ensemble-cv==0.2.4
python-slugify>=8.0.4
google-generativeai>=0.8.4
google-genai>=1.5.0
python-dotenv>=1.0.1
vertexai>=1.71.1